.input-group {
  position: relative;
  margin: 20px 0px;
}

.input-group label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: white;
  padding: 0px 5px;
  pointer-events: none;
  transition: all 0.5s ease 0s;
}

.input-group input {
  width: 320px;
  height: 40px;
  font-size: 1.5em;
  color: white;
  padding: 0px 10px;
  background: transparent none repeat scroll 0% 0%;
  border: 1.2px solid;
  outline: medium none;
  border-radius: 5px;
}

.input-group input:focus~label,
.input-group input:valid~label {
  top: 0px;
  font-size: 0.8em;
  color: black;
  background-color: white;
}